body{
    font-family: Times New Roman;
}
div .card{
      border: none;
      width: 14rem;
      border-color: white;
    }
.container-md{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      align-content: center;
}
.container-fluid .container-md{
     font-family: Times New Roman;
    }
h1{
      color: #ff4d4d;
    }
h5{
      color: dimgrey;
    }
.nav-link:hover{
      background-color: #ffffff;
    }