#c1 .row .col-md{
      background-image: linear-gradient(to right, #ffb380, #ff6600);
}
body{
    font-family: Times New Roman;
}
div .card{
      border: none;
      width: 14rem;
      border-color: white;
      text-align: center;
    }
.container-md{
      box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      align-content: center;
}
.container-fluid .container-md{
     font-family: Times New Roman;
    }
h1{
      color: #ff4d4d;
    }
h5{
      color: dimgrey;
    }
.nav-link:hover{
      background-color: #008080;
    }
.nav-link dropdown-toggle{
      font-weight: 300;
}
.nav-link dropdown-toggle .dropdown-item : hover{
      background-color: #808080;
}
